<body>
    <div id="app">
        <input v-model="name" placeholder="input name">
        <input v-model="score" placeholder="input score">
        <button @click="add(name,score)">Add</button>
        <li v-for="(item, index) in players">
   {{ index+1 }} - {{ item.name+" : "+item.score }}
  </li>
      </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.createApp({
  data() {
    return {
      name: "",
      score:100,
      players:[{"name":"123","score":"999"}],
    }
  },
  methods: {
    add(name,score) {
        axios.get('/add?name='+name+'&score='+score)
  .then((r)=>{})
  .catch((e)=>{});
    }
  }
}).mount('#app')
</script>
</html>